body{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: blueviolet;
}
.half-witdh{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-witdh img{
    width: 100%;
}